/* Hide Radio button */
.rate > input{
    display: none;
}

.rate {
    display: inline-block;
    border: 0;
}

.rate > label{
    float: right;
}

.rate > label::before{
    display: inline-block;

    font-size: 1.1rem;

    font-family: FontAwesome;

    content: "\f005";

    margin: 0;

    padding: 0.3rem .2rem;

    cursor: pointer;


}

.rate .half::before{
    content: "\f089";
    position: absolute;
    padding-right: 0;
}