{% extends 'layout.html' %}


<script src="https://code.jquery.com/jquery-3.6.0.js"
integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

{% block content %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">  


<section class="section-conten padding-y bg">
    {% include 'includes/alerts.html' %} 
    <div class="container">
        <div class="row">
            {% include 'includes/dashboard_sidebar.html' %}
            <main class="col-md-9">
                <article class="card">
                    <header class="card-header">
                        <strong class="d-inline-block mr-3">Edit Profile</strong>
                       
                    </header>
                    <div class="card-body">

                        
                        <div class="row">
                            <div class="col-md-12">
                                <form action="{% url 'change_password' %}" method="post">   
                                    <!-- while submitting file to get the file updated add enctype in form -->
                                    {% csrf_token %}
                                    <div class="form-row">


                                        <div class="fomr-group col-md-12">

                                            <label>Enter current password</label>
                                           <input type="password" placeholder="current" name = current_password class='form-control' required>
                                            
                                        </div>

                                        <div class="fomr-group col-md-12">

                                            <label>Enter new password</label>
                                           <input type="password" placeholder="new" name = new_password class='form-control' required>
                                            
                                        </div>

                                        <div class="fomr-group col-md-12">

                                            <label>Confirm Password</label>
                                            <input type="password" placeholder="confirm" name = confirm_password class="form-control" required>
                                            
                                        </div>
                                     </div>
                                    

                                    <input class="btn btn-success mt-2" type="submit" value="Save">
                                </form>
                                
                                
                            </div>

                        </div> <!-- row.// -->
                    </div> <!-- card-body .// -->

                </article> <!-- order-group.// -->
            </main>
        </div> <!-- row.// -->
    </div>


</section>


<script>
    $(document).ready(function () {
        $('#table_order').DataTable();
    });
</script>




<script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

{% endblock %}