{% extends 'admi/layout.html'%}
{% block body %}

<h1 style="background: #3d4247ad;">welcome db home </h1>
<h3>{{ count }}</h3>
<button><a href="{% url 'admi:lout' %}">logout</a></button>
<div class="ba" style="background: rgba(17, 17, 17, 0.575);">
<button class="ms-4"><a href="{% url 'admi:add'  %}">add</a></button>
{{ action|safe }}
    <h2 style="color: rgb(233, 245, 243);">{% csrf_token %}
    {{form}}  
    {{ button|safe }}  
</h2>
</form>
<h2>
<form action="{% url 'admi:edit' %}" method="post">
    {% csrf_token %}
    <input type="hidden" value="{{qu}}" name="id">
    {{formup}}
    {{ button2|safe }}
</form>
</h2>

<br>
<br>
<h3 style="font-style:italic;">
<table class="table table-dark table-striped">
    <thead>
        
        <th scope="col">Name</th>
        <th scope="col">Password</th>
        <th scope="col">Age</th>
        <th scope="col">actions</th>
    </thead>
 
    <tbody>
        {% for i in obj %}

        <tr>
            <td>{{ i.uname }}</td>
            <td> {{i.upassword}} </td>
            <td> {{ i.age }}</td>
                
        
            <td><button><a href="{% url 'admi:delete' i.id %}"> delete </a></button>
                
                <button><a href="{% url 'admi:ideees' i.id %}">edit</a></button>
            </td> 
            
        </tr>    
            {% endfor %}
    </tbody>
</table>
</h3>

   
</div>
{% endblock %}    