{% extends 'admi/layout.html'%}
{% block body %}
 <main class="main-content  mt-0">
    <div class="page-header align-items-start min-vh-100">
      <span class="mask  opacity-6"></span>
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-4 col-md-8 col-12 mx-auto">
            <div class="card z-index-0 fadeIn3 fadeInBottom shadow-lg p-3 mb-5 rounded">
              <div class="card-header p-0 position-relative  mx-3 z-index-2">

                <div class="card-body  ">
                  <form action="" method = "post" class="text-start">
                    {% csrf_token %}
                    <div class="input-group input-group-outline my-3">
                      
                     
                      <input type="username" required placeholder="name" class="form-control" name = "name">
                    </div>
                    <div class="input-group input-group-outline mb-3">
                      <label class="form-label"></label>
                    
                      <input type="password" placeholder="password"required class="form-control" name="password">
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">  Sign in</button>
                    </div>
                    <div class="text-center">
                      {{msg}}
                    </div>

                    <p class="mt-4 text-sm text-center">
                      Don't have an account?
                      <a href="{% url 'admi:sign_up' %}" class="text-primary text-gradient font-weight-bold">Sign up</a>
                    </p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
  </main>
{% endblock %}