{% extends 'admin/layout.html' %}
{% load static %}
{% block content %}


<div class="card-body">
    <div class="text-right">
    {% if product_detail.images %}
     <img src="{{ product_detail.images.url }}" alt="profile Picture" width="50" height="50" >
    {% else %}
    <img src="/media/photos/category/shoes.png" alt="profile Picture" width="50" height="50" >
    {% endif %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'add_product' %}" method="post" enctype="multipart/form-data"> 
                <!-- while submitting file to get the file updated add enctype in form -->    
                {% csrf_token %}
                <div class="form-row">

                    <div class="fomr-group col-md-6">

                        <label>Product Name</label>
                        {{ product_form.product_name }}

                    </div>
                    
                    <div class="fomr-group col-md-6">

                        <label>Description</label>
                        {{ product_form.description }}

                        
                    </div>

                    <div class="fomr-group col-md-6">

                        <label>Price</label>
                        {{ product_form.price }}

                        
                    </div>
                    <div class="fomr-group col-md-4">

                        <label>Images</label>
                        {{ product_form.images }}
                        
                    </div>

                  
                </div>
                <div class="form-row">
                    <div class="fomr-group col-md-4">

                        <label>Stock</label>
                        {{ product_form.stock }}
                        
                    </div>

                    <div class="fomr-group col-md-4">

                        <label>Is_available</label>
                        {{ product_form.is_available }}
                        
                    </div>
                    <div class="fomr-group col-md-4">

                        <label>Category</label>
                        {{ product_form.category }}
                        
                    </div>

               

                </div>

                <input class="btn btn-success mt-2" type="submit" value="Save">
            </form>
            
            
        </div>

    </div> <!-- row.// -->
</div> <!-- card-body .// --> 

{% endblock %}