
{% extends 'admin/layout.html' %}
{% load static %}
{% block content %}




<table id="table_id" class="display table table-striped table-hover table-bordered">






    <thead>
        <tr>
            <th>id</th>
            <th>ORDER NUMBER</th>
            <th>FULL NAME</th>
            <th>PHONE</th>
            <th>EMAIL</th>
            <th>CITY</th>
            <th>ORDER TOTAL</th>
            <th>TAX</th>
            <th>STATUS</th>
            <th>IS ORDERED</th>
            <th>CREATED AT</th>
            <th></th>   
            <th></th>    
        </tr>
    </thead>
    
        <tbody>
            {% for i in order_data %}   
            <tr>
                <td>{{ i.id }}</td>  
                <td>{{ i.order_number }}</td>
                <td>{{ i.full_name }}</td>
                <td>{{ i.phone }}</td>
                <td>{{ i.email }}</td>
                <td>{{ i.city}}</td>
                <td>{{ i.order_total }}</td>  
                <td>{{ i.tax}}</td>
                <td>{{ i.status}}</td>
                <td>{{ i.is_ordered}}</td>
                <td>{{ i.created_at}}</td>  
            
                <td>
                    <a href="{% url 'edit_order' i.order_number %}" class="view btn btn-warning " title="View" data-toggle="tooltip" style="text-decoration: none;">edit<i class="fa fa-pen ps-2 text-success">&#xE417;</i></a>
                </td> 
                <td>
                    <a href="{% url 'remove_order' i.order_number %}" class="view" title="View" data-toggle="tooltip"><i class="fa fa-trash text-danger">&#xE417;</i></a>
        
                </td>  
            </tr>
            {% endfor %}
           
        </tbody>
    
</table>


{% endblock %}  