
{% extends 'admin/layout.html' %}
{% load static %}
{% block content %}





<table id="table_id" class="display table table-striped table-hover table-bordered">






    <thead>
        <tr>
            <th>#</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Category</th>
            <th>Modified Date</th>
            <th>Is_available</th>
            <th>Action</th>
        </tr>
    </thead>
    
        <tbody>
            {% for user in product_data %}   
            <tr>
                <td>1</td>
                <td>{{ user.product_name }}</td>
                <td>{{ user.price }}</td>
                <td>{{ user.stock }}</td>
                <td>{{ user.category }}</td>
                <td>{{ user.modified_date }}</td>
                <td>{{ user.is_available }}</td>  
    
                <td>
                    <a href="#" class="view " title="View" data-toggle="tooltip"><i class="fa fa-eye btn-success">&#xE417;</i></a>
                    <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons btn-danger fa fa-bars">&#xE254;</i></a>
                    <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                </td>
            </tr>
            {% endfor %}
           
        </tbody>
    
</table>




{% endblock %}