{% load static %}
<nav class="navbar navbar-expand-xl navbar-light " style="min-height: 100px;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="{% url 'home' %}" class=" navbar-brand " href="#"><span>gaStyle </span></a>
   
    
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav  mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <div class="dropdown ">

            <a class="nav-link active" data-bs-toggle="dropdown" aria-expanded="false" aria-current="page"
              href="#"><span class="category me-4"> Categories</span></a>


            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'store' %}">ALL</a>
              {% for category in links %}
              <!-- the dictinory 'links' is from context_processors and configured at settings file templates -->
              <a class="dropdown-item" href="{% url 'products_by_category' category.slug %}">{{ category.category_name }} </a>
              <!-- href = "{{ category.get_url }}" -->
              {% endfor %}
            </div>
          </div>
          <!-- <a class="nav-link active" aria-current="page" href="#"><span class="category me-4" > Categories</span></a> -->
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'new_arrivals' %}"><span class="category me-4"> New Arrivals</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><span class="category me-4"> Accessories</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'new_arrivals' %}"><span class="category me-4"> Clothes</span></a>
        </li>



      </ul>

      <form action="{% url 'search' %}" method="get" class="d-flex ">

        <input class="  me-2 sbox" type="search" placeholder="Search" aria-label="Search" required name="keyword">
        <button class="btn  search-btn" style="height: 2rem;" type="submit"><img class="search-logo"
            src="{% static 'images/searching.png' %}" alt=""></button>
      </form>
      <span class="nav-item me-4">
        <div class="dropdown me-4">
          <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropbtn" data-bs-toggle="dropdown"
            aria-expanded="false">
            account
          </button> -->
          <img class="user-logo dropdown-toggle " src="{% static 'images/ostrich.png' %}" alt="" id="dropbtn"
            data-bs-toggle="dropdown" aria-expanded="false">
          <ul class="dropdown-menu" aria-labelledby="dropbtn">
            {% if user.id is None %}
            <li><a class="dropdown-item" href="{% url 'login' %}">LOGIN</a></li>
            <a class="dropdown-item" href="{% url 'register' %}">SIGNUP</a>
            {% else %}
            <a class="dropdown-item" href="{% url 'dashboard' %}">{{ user.first_name | upper }}</a>
            <a class="dropdown-item" href="{% url 'logout' %}">LOG OUT</a>

            {% endif %}




          </ul>
        </div>
      </span>

      

      <div class="nav-item pe-4">

        <div class="dropdown ">
          <a href="{% url 'cart' %}">
            <div class="round text-wrap">
              <h6 class="cart-item-count">{{ items }}</h6>
            </div>

            <img class="user-logo cart-logo dropdown-toggle" src="{% static 'images/cart.png' %}" alt="">

        </div>
        </a>

      </div>
      </a>



      <span class="nav-item ps-4 pe-4">
        <div class="dropdown ">
          <a href="{% url 'wishlist' %}" class="btn wishlist " href="">
            wishlist <img class="user-logo " src="{% static 'images/wishlist.png'%}" alt="">
          </a>



        </div>
      </span>


    </div>
  </div>
</nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<!-- <header class="section-header">
<nav class="navbar p-md-0 navbar-expand-sm navbar-light border-bottom">
<div class="container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTop4">
    <ul class="navbar-nav mr-auto">
    	<li class="nav-item dropdown">
		 	<a href="#" class="nav-link">   English </a>
		    
		</li>
		<li class="nav-item dropdown">
			<a href="#" class="nav-link"> USD </a>
		</li>
    </ul>
    <ul class="navbar-nav">
		<li><a href="#" class="nav-link"> <i class="fa fa-envelope"></i> Email </a></li>
		<li><a href="#" class="nav-link"> <i class="fa fa-phone"></i> Call us </a></li>
	</ul> 
  </div> 
</div> 
</nav>

<section class="header-main border-bottom">
	<div class="container">
<div class="row align-items-center">
	<div class="col-lg-2 col-md-3 col-6">
		<a href="./" class="brand-wrap">
			<img class="logo" src="{% static './images/logo.png' %}">
		</a> 
	</div>
	<div class="col-lg col-sm col-md col-6 flex-grow-0">
		<div class="category-wrap dropdown d-inline-block float-right">
			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> 
				<i class="fa fa-bars"></i> All category 
			</button>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#">Machinery / Mechanical Parts / Tools </a>
				<a class="dropdown-item" href="#">Consumer Electronics / Home Appliances </a>
				<a class="dropdown-item" href="#">Auto / Transportation</a>
				<a class="dropdown-item" href="#">Apparel / Textiles / Timepieces </a>
				<a class="dropdown-item" href="#">Home & Garden / Construction / Lights </a>
				<a class="dropdown-item" href="#">Beauty & Personal Care / Health </a> 
			</div>
		</div>  
	</div> 
	<a href="./store.html" class="btn btn-outline-primary">Store</a>
	<div class="col-lg  col-md-6 col-sm-12 col">
		<form action="#" class="search">
			<div class="input-group w-100">
			    <input type="text" class="form-control" style="width:60%;" placeholder="Search">
			    
			    <div class="input-group-append">
			      <button class="btn btn-primary" type="submit">
			        <i class="fa fa-search"></i>
			      </button>
			    </div>
		    </div>
		</form> 
	</div> 
	<div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
				<div class="d-flex justify-content-end mb-3 mb-lg-0">
					<div class="widget-header">
						<small class="title text-muted">Welcome guest!</small>
						<div> 
							<a href="./signin.html">Sign in</a> <span class="dark-transp"> | </span>
							<a href="./register.html"> Register</a>
						</div>
					</div>
					<a href="./cart.html" class="widget-header pl-3 ml-3">
						<div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
						<span class="badge badge-pill badge-danger notify">0</span>
					</a>
				</div> 
			</div>
</div> 
	</div>
</section> 




</header>  -->